body {
  background-color: rgb(186, 207, 209);
  width: 600px;
  margin: 0 auto;
}
button {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  display: block;
  text-align: center;
  margin: 100px auto;
  background-color: rgb(216, 158, 179)
}
p {
  text-align: center;
  border: 2px solid none;
  border-radius: 10px;
  background-color: rgb(52, 148, 216);
  padding: 10px;
}